// Fonts
@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/roboto-regular/RobotoRegular.eot');
    src: url('fonts/roboto-regular/RobotoRegular.eot') format('embedded-opentype'),
    url('fonts/roboto-regular/RobotoRegular.woff2') format('woff2'),
    url('fonts/roboto-regular/RobotoRegular.woff') format('woff'),
    url('fonts/roboto-regular/RobotoRegular.ttf') format('truetype'),
    url('fonts/roboto-regular/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoSerifRegular';
    src: url('fonts/regular-serif/RobotoSerifRegular.eot');
    src: url('fonts/regular-serif/RobotoSerifRegular.eot') format('embedded-opentype'),
    url('fonts/regular-serif/RobotoSerifRegular.woff2') format('woff2'),
    url('fonts/regular-serif/RobotoSerifRegular.woff') format('woff'),
    url('fonts/regular-serif/RobotoSerifRegular.ttf') format('truetype'),
    url('fonts/regular-serif/RobotoSerifRegular.svg#RobotoSerifRegular') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/roboto-bold/RobotoBold.eot');
    src: url('fonts/roboto-bold/RobotoBold.eot') format('embedded-opentype'),
    url('fonts/roboto-bold/RobotoBold.woff2') format('woff2'),
    url('fonts/roboto-bold/RobotoBold.woff') format('woff'),
    url('fonts/roboto-bold/RobotoBold.ttf') format('truetype'),
    url('fonts/roboto-bold/RobotoBold.svg#RobotoBold') format('svg');
}
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
@import "custom";

.negrito{
    font-weight: 700;
}
