@font-face {
    font-family: 'RobotoBold';
    src: url('roboto-bold/RobotoBold.eot');
    src: url('roboto-bold/RobotoBold.eot') format('embedded-opentype'),
         url('roboto-bold/RobotoBold.woff2') format('woff2'),
         url('roboto-bold/RobotoBold.woff') format('woff'),
         url('roboto-bold/RobotoBold.ttf') format('truetype'),
         url('roboto-bold/RobotoBold.svg#RobotoBold') format('svg');
}
