/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    overflow-x: hidden;
}

body {
    font-family: "Roboto Serif", sans-serif;
    color: #9fa1a4;
    line-height: 1.5;
}

a {
    color: #777;
    text-decoration: none;
    transition: 0.3s all ease;
}

a:hover {
    color: #000;
}

h1, h2, h3, h4, h5, h6, .font-heading {
    font-family: "Roboto Serif", sans-serif;
    color: #000;
}

.container {
    margin-top: auto!important;
    z-index: 2;
    position: relative;
}

.text-black {
    color: #000 !important;
}

.text-primary {
    color: #2d71a1 !important;
}

.border-top {
    border-top: 1px solid #f2f2f2 !important;
}

.border-bottom {
    border-bottom: 1px solid #f2f2f2 !important;
}

figure figcaption {
    margin-top: 0.5rem;
    font-style: italic;
    font-size: 0.8rem;
}

section {
    overflow: hidden;
}

.section {
    padding: 7rem 0;
}

.section-heading {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(-45deg, #3db3c5, #274685); /* #3db3c5, #274685 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 992px){
    .section-heading {
        font-size: 2rem;
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #2d71a1;
    color: #f0f0f0!important;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
.back-to-top:hover {
    background: #3687c1;
    color: #fff;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* Default btn sre-tyling */
.btn {
    border: none;
    padding: 15px 30px !important;
}
.btn.btn-outline-white {
    border: 2px solid #fff;
    background: #001374;
    color: #3fa7d8;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    elevation: higher;
}
.btn.btn-outline-white:hover {
    background: #3fa7d8;
    color: #001374;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.btn.btn-primary {
    background: #2d71a1;
    background: linear-gradient(-45deg, #1391a5, #274685);
    color: #fff;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 992px) {
    .btn-mobil{
        margin: 8px;
    }
}
.font-texto {
    font-size: 20px;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: rgba(39, 70, 133, 0.8);
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
}
#header.header-scrolled {
    background: rgba(39, 70, 133, 0.8);
    height: 80px;
}
#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 4px 0;
    line-height: 1;
    font-weight: 500;
}
#header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}
#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 60px;
}

@media screen and (max-width: 992px) {
    #header {
        background: rgba(39, 70, 133, 0.8);
        height: 80px;
        transition: all 0.5s;
        z-index: 997;
        transition: all 0.5s;
    }
    #header.header-scrolled {
        background: rgba(39, 70, 133, 0.8);
        height: 80px;
    }
    #header .logo img {
        padding: 0;
        margin: 0px 0px 0px 15%;
        max-height: 60px;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
    background: linear-gradient(to right, rgba(61, 179, 197, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/hero-bg.jpg); /* rgba(39, 70, 133, 0.8) rgba(61, 179, 197, 0.8) */
    position: relative;
}

.hero-section .wave {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    bottom: -480px;
}
/* ---- testar configuração abaixo --*/
@media screen and (max-width: 992px) {
    .hero-section .wave {
        bottom: -350px;
    }
}
/*---- fim do teste ----*/

.hero-section .wave svg {
    width: 100%;
}

.hero-section, .hero-section > .container > .row {
    height: 100vh;
    min-height: 880px;
}

.hero-section.inner-page {
    height: 60vh;
    min-height: 0;
}

.hero-section.inner-page .hero-text {
    transform: translateY(-150px);
    margin-top: -120px;
}
/* ---- testar configuração abaixo --*/
@media screen and (max-width: 992px) {
    .hero-section, .hero-section > .container > .row {
        height: 100vh;
        min-height: 1350px;
    }
    .hero-section.inner-page .hero-text {
        margin-top: 100px!important;
        padding-bottom: 100px;
    }
}
/*---- fim do teste ----*/

.hero-section h1 {
    font-size: 3.5rem;
    color: #000000;
    font-weight: 700;
    margin-bottom: 30px;
}
/* ---- testar configuração abaixo --*/
@media screen and (max-width: 992px) {
    .hero-section h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 10px;
    }
    .hero-section .hero-text-image {
        margin-top: 2rem;
    }
}
/*---- fim do teste ----*/
.hero-section p {
    font-size: 18px;
    color: #000000;
}
.font-texto-cancel {
    color: #000000;
    font-style: italic;
    font-size: 12px!important;
}

.hero-section .iphone-wrap {
    position: relative;
}

.hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
    width: 200px;
}
.hero-section .iphone-wrap .phone-2 {
    margin-top: 50px;
    margin-left: 100px;
    width: 200px;
}

/* ---- testar configuração abaixo --*/
@media screen and (max-width: 992px) {
    .hero-section .iphone-wrap {
        text-align: center;
    }
    .hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
        position: relative;
        top: 0;
        max-width: 100%;
    }
    .hero-section .iphone-wrap .phone-1 {
        width: 150px;
        margin-left: -100px;
    }
    .hero-section .iphone-wrap .phone-2 {
        width: 150px;
        position: absolute;
        margin-top: 20px;
        margin-left: 150px;
    }
}
/*---- fim do teste ----*/

/* Step */
.step {
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 30px;
}
.step p{
    font-family: "Roboto Serif";
    color: #000000;
}
.step .number {
    background: linear-gradient(-45deg, #1391a5, #274685);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
    display: block;
}
.step p:last-child {
    margin-bottom: 0px;
}
/* CAUSA Section */
.causa-section {
    overflow: hidden;
}

/* Testimonial Carousel */
.testimonials-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}
.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #2d71a1;
}
.testimonials-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2d71a1;
}


/* Review */
.review h3 {
    font-size: 20px;
}
.review p {
    line-height: 1.8;
    font-style: italic;
    color: #333333;
}
.review .stars span {
    color: #FF8803;
}
.review .stars .muted {
    color: #ccc;
}
.review .review-user img {
    width: 70px;
    margin: 0 auto;
}


/* CTA Section */
.cta-section {
    background: linear-gradient(to right, #274685 0%, #3db3c5 100%);
    color: #fff;
}
.cta-section h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .cta-section h2 {
        font-size: 2rem;
    }
}
.cta-section .btn {
    background: #000000;
    color: #fff;
}
.cta-section .btn i {
    margin-right: 5px;
    font-size: 24px;
    line-height: 0;
}

.imgPreview  img{
    margin: 15px;
    width: 100px!important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    padding: 5rem 0 2.5rem 0;
    background-color: #b6effb;
}
.footer h3 {
    font-size: 18px;
    margin-bottom: 30px;
}
.footer ul li {
    margin-bottom: 10px;
}
.footer a {
    color: #000;
}
.footer .copyright {
    margin-bottom: 0px;
}
.footer .copyright, .footer .credits {
    font-size: 14px;
}

.social a {
    display: inline-block;
    font-size: 22px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #007bff;
    color: #fff;
    position: relative;
    text-align: center;
    transition: 0.3s background ease;
    line-height: 0;
}
.social a span {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.social a:hover {
    color: #fff;
    background: #2d71a1;
}
.social a i {
    line-height: 0;
}

/*--------------------------------------------------------------
# Area admin
--------------------------------------------------------------*/

#admin-content {
    margin-top: 8px;
    margin-bottom: 20px;
    background: #e0f3ff;
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container-admin{
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.panel-heading-admin{
    padding: 10px;
    margin: 10px 10px 30px 10px;
    border-radius: 10px;
    border: solid 0.5pt darkgrey;
    display: flex;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}
.form-search{
    padding: 5px;
    width: 60%;
}

.label-search{
    font-size: 14px;
}

.nome{
    width: 48%;
}

.buton-search{
    text-align: right;
    padding-top: 5px;
}
.buton-sch{
    background-color: #0a58f6;
}

.btn-new-reset{
    display: inline-block;
    padding: 25px;
}
.estilo-btn{
    margin-top: 10px;
}

.form-admin{
    margin: 20px;
}

.control-label{
    display: flex !important;
}
.label-class{
    margin-left: 8px;
}
.required{
    font-style: italic !important;
    color: red !important;
}

.texto-show{
    background: #FFFFFF;
    height: 40px;
    border: solid 0.5pt #0b6bd3;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.texto-comment{
    background: #FFFFFF;
    border: solid 0.5pt #0b6bd3;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

#form-register {
    margin-top: 30px;
    margin-bottom: 20px;
    background: #cce5ff;
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#form-register .bloco-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#register-show{
    width: 98%;
    background: #cce5ff;
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#register-show .bloco-div-show {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.label-show{
    margin-bottom: 4px;
}

.media{
    display: flex!important;
}

.media-body{
    margin-left: 5px !important;
}
.media-heading {
    margin-left: 5px !important;
}

.mo-galeria img{
    height: 60px!important;
    width: 60px!important;
}

.my-alert{
    flex: content;
    width: 300px;
    height: 60px;
    margin: 10px!important;
    padding: 5px!important;
    color: #0f5132;
    background-color: #d1e7dd;
}




/*-- Animate webkit ----*/

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*----- Foto admin -------*/
.image-show {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.image-show img {
    padding: 0px 8px 8px 8px;
    max-width: 300px;
}
.button-show {
    width: 100%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-show{
    width: 100%;
    font-size: 16px;
    font-family: "Roboto Serif";
    font-weight: bold;
    color: #f0f0f0;
}

.label-form {
    font-weight: 700;
    font-family: "Roboto Serif";
    color: black;
    margin: 8px 8px 0px 8px;
}

.nome-foto{
    margin-bottom: -15px!important;
}

.assin{
    align-items: center;
}

#assin-content {
    margin-top: 8px;
    margin-bottom: 20px;
    max-width: 600px;
    background: #e0f3ff;
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container-assin {
    background: white;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.panel-heading-assin {
    padding: 10px;
    margin: 10px;
    max-width: 450px;
    border-radius: 10px;
    border: solid 0.5pt darkgrey;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.aviso {
    margin-top: 15px;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}
.aviso a {
    color: #0a53be;
    text-transform: uppercase;
}

/* --------- RATES ---------- */
.estrelas input[type=radio]{
    display: none;
}
.estrelas label i.fa:before{
     content: '\f005';
     color: #FC0;
    font-size: 20px;
}
.estrelas  input[type=radio]:checked  ~ label i.fa:before{
      color: #CCC;
}
