/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    overflow-x: hidden;
}

body {
    font-family: "Roboto Serif", sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    line-height: 1.5;
}

a {
    color: #2d71a1;
    text-decoration: none;
    transition: 0.3s all ease;
}

a:hover {
    color: #000;
}

h1, h2, h3, h4, h5, h6, .font-heading {
    font-family: "Roboto Serif", sans-serif;
    color: #000000;
}

.container {
    margin-top: auto!important;
    z-index: 2;
    position: relative;
}

.text-black {
    color: #000 !important;
}

.text-primary {
    color: #2d71a1 !important;
}

.border-top {
    border-top: 1px solid #f2f2f2 !important;
}

.border-bottom {
    border-bottom: 1px solid #f2f2f2 !important;
}

figure figcaption {
    margin-top: 0.5rem;
    font-style: italic;
    font-size: 0.8rem;
}

section {
    overflow: hidden;
}

.section {
    padding: 3rem 0;
}

.section-heading {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(-45deg, #3db3c5, #274685); /* #3db3c5, #274685 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 992px){
    .section-heading {
        font-size: 2rem;
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #2d71a1;
    color: #f0f0f0!important;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
.back-to-top:hover {
    background: #3687c1;
    color: #fff;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* Default btn sre-tyling */
.btn {
    border: none;
    padding: 15px 30px !important;
}

.btn-assinar{
    width: 80%;
    margin-top: 20px;
    background: #41a7d7;
    elevation: higher;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 20px;
    color: #FFFFFF;
}
.btn-voltar{
    width: 40%;
}
.btn.btn-outline-white {
    border: 2px solid #fff;
    background: #001374;
    color: #3fa7d8;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    elevation: higher;
}
.btn.btn-outline-white:hover {
    background: #3fa7d8;
    color: #001374;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.btn.btn-primary {
    background: #2d71a1;
    background: linear-gradient(-45deg, #1391a5, #274685);
    color: #fff;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 992px) {
    .btn-mobil{
        margin: 8px;
    }
}
.font-texto {
    font-size: 20px;
}

/*---- colors configuraçoes -------*/
.minutos {
    color: #41a7d7;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #FFFFFF;
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
}
#header.header-scrolled {
    background: #b6eeF0;
    height: 70px;
}

#header .logo img {
    padding: 0;
    margin:  0;
    max-height: 60px;
}

.logo svg{
    max-height: 50px;
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
    #header {
        background: #FFFFFF;
        height: 70px;
        transition: all 0.5s;
        z-index: 997;
        transition: all 0.5s;
    }
    #header.header-scrolled {
        background: #b6eeF0;
        height: 70px;
    }
    #header .logo img {
        padding: 0;
        margin: 0px 0px 0px 15%;
        max-height: 60px;
    }
    .logo svg{
        margin-left: 10px;
        max-height: 60px;
        margin-bottom: 15px;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
    position: relative;
    margin-top: -180px;
}

.hero-section, .hero-section > .container > .row {
    height: 100vh;
    min-height: 680px;
}

.hero-section.inner-page {
    height: 60vh;
    min-height: 0;
}

.hero-section.inner-page .hero-text {
    transform: translateY(-150px);
}
/* ---- testar configuração abaixo --*/
@media screen and (max-width: 992px) {
    .hero-section{
        margin-top: -400px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .hero-section, .hero-section > .container > .row {
        height: 100vh;
        min-height: 1350px;
    }
    .hero-section.inner-page .hero-text {
        padding-bottom: 100px;
    }
    .btn-hero{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-left: -10px;
    }
    .btn-assinar{
        width: 300px;
        grid-auto-columns: fit-content(50vw);
    }
}
/*---- fim do teste ----*/

.hero-section h1 {
    font-size: 3.2rem;
    font-weight: normal;
    line-height: 3.5rem;
    margin-bottom: 30px;
    color: black;
}
/* ---- testar configuração abaixo --*/
@media screen and (max-width: 992px) {
    .hero-section h1 {
        font-size: 2.2rem;
        margin-top: 10px;
        text-align: left;
        line-height: 2.7rem;
    }
    .hero-section .hero-text-image {
        margin-top: 2rem;
    }
    .hero-section p{
        text-align: left;
        font-size: 14px;
        line-height: 1.5em;
    }

}
/*---- fim do teste ----*/
.hero-section p {
    font-size: 16px;
    color: black;
    margin-top: 5px;
    line-height: 1.7;
}
.font-texto-cancel {
    color: #000000;
    font-style: italic;
    font-size: 12px!important;
    margin-top: -10px!important;
}
.hero-section .iphone-wrap {
    position: relative;
    align-content: center;
    justify-content: center;
}
.hero-section .iphone-wrap .phone-1 {
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    border-radius: 20px;
}
.hero-section .iphone-wrap .phone-1 {
    width: 400px;
}

@media screen and (max-width: 992px) {
    .hero-section .iphone-wrap .phone-1 {
        position: absolute;
        top: 20px;
    }
    .hero-section .iphone-wrap .phone-1 {
        width: 300px;
        margin-left: -60px;
    }

}
/*---- fim do teste ----*/

/* Step */
.step-section {
    overflow: hidden;
    background-color: #41a7d7;
    padding: 15px;
}
.step-title {
    margin-top: 40px;
}
.step-title h1{
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: -5px;
}

.tampa{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 86px;
    border-radius: 15px;
    elevation: higher;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.65);
}

.icon-step{
    font-size: 36px;
}
.icon-svg{
    width:  60px;
    height: 60px;
}
.fast {
    fill: #ff689b;
}
.fact{
    fill: #41a7d7;
}
.valor{
    fill: #0a53be;
}

.fundo{
    fill: #ff2222;
}

.ciencia{
    fill: #4cc780;
}

.step {
    padding: 30px;
}
.step p{
    font-family: "Roboto";
    color: #FFFFFF;
}

.linha{
    width: 20%;
    height: 4px!important;
    text-align: center;
    color: #555555;
}

.icon-show{
    width: 220px;
}

@media screen and (max-width: 992px) {
    .step-title h1{
        font-size: 35px;
    }
    .tampa{
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.65);
    }
    .icon-step{
        font-size: 26px;
    }
    .icon-svg{
        width:  30px;
        height: 30px;
    }
    .linha{
        width: 60%;
    }
    .step{
        padding: 5px;
        text-align: center;
        margin-top: 8px;
    }
    .icon-show{
        width: 120px;
    }
}

/* CAUSA Section */
.causa-section {
    overflow: hidden;
    background: #cccccc;
    padding-top: 30px;
    padding-bottom: 15px;
}

.causa-section h2 {
    text-transform: uppercase;
}

.causa-section h1 {
    color: #FFFFFF;
    font-size: 45px;
}

.causa-section p {
    font-size: 18px;
    margin-top: 35px;
}

@media screen and (max-width: 992px) {
    .causa-section h1 {
        font-size: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .causa-section p {
        font-size: 16px;
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* CTA Section */
.cta-section {
    background: #555555;
    color: #fff;
}

.cta-section h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.cta-section h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cta-section .btn-assinar{
    height: 80px;
    width: 60%;
    font-size: 30px;
    background: #41a7d7!important;
}
.margem{
    margin-top: 30px;
}
@media screen and (max-width: 768px) {
    .cta-section h1 {
        font-size: 2rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    .cta-section h2 {
        font-size: 1.3rem;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.cta-section .btn {
    background: #000000;
    color: #fff;
}
.cta-section .btn i {
    margin-right: 5px;
    font-size: 24px;
    line-height: 0;
}

.imgPreview  img{
    margin: 15px;
    width: 100px!important;
}

/*---------- testemunhos -----------*/

.testemunho {
    padding-top: 20px!important;
}

/* Testimonial Carousel */
.testimonials-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}
.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #2d71a1;
}
.testimonials-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2d71a1;
}


/* Review */
.review h3 {
    font-size: 20px;
}
.review p {
    line-height: 1.8;
    font-style: italic;
    color: #333333;
}
@media screen and (max-width: 992px) {
    .review p{
        margin-right: 10px;
        margin-left: 10px;
    }
}
.review .stars span {
    color: #FF8803;
}
.review .stars .muted {
    color: #ccc;
}
.review .review-user img {
    width: 70px;
    margin: 0 auto;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    padding: 5rem 0 2.5rem 0;
    background-color: #b6eeF0;
}
.footer h3 {
    font-size: 18px;
    margin-bottom: 30px;
}
.footer ul li {
    margin-bottom: 10px;
}
.footer a {
    color: #000;
}
.footer .copyright {
    margin-bottom: 0px;
}
.footer .copyright, .footer .credits {
    font-size: 14px;
}

.social a {
    display: inline-block;
    font-size: 22px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #41a7d7;
    color: #fff;
    position: relative;
    text-align: center;
    transition: 0.3s background ease;
    line-height: 0;
}
.social a span {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.social a:hover {
    color: #fff;
    background: #2d71a1;
}
.social a i {
    line-height: 0;
}

@media screen and (max-width: 992px) {
    .footer h3 {
        margin-right: 10px;
        margin-left: 10px;
    }
    .footer p{
        margin-right: 10px;
        margin-left: 10px;
    }
    .footer ul li {
        margin-right: 10px;
        margin-left: 10px;
    }
}

/*--------------------------------------------------------------
# Area admin
--------------------------------------------------------------*/

#admin-content {
    margin-top: 8px;
    margin-bottom: 20px;
    background: #FFFFFF; /*#e0f3ff; */
    border: 0.5pt solid #e0f3ff;
    padding: 50px;
}

.container-admin{
    background: white;
    padding: 20px;
}

.panel-heading-admin{
    padding: 10px;
    margin: 10px 10px 30px 10px;
    border-radius: 10px;
    border: solid 0.5pt darkgrey;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 992px) {
    #admin-content {
        margin-top: 8px;
        margin-bottom: 10px;
        padding: 5px;
        border: 2pt solid #e0f3ff;
        border-radius: 10px;
    }
    .container-admin{
        padding: 5px;
    }
    .panel-heading-admin{
        padding: 5px;
        margin: 0px;
        border-radius: 5px;
        border: solid 0.5pt darkgrey;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        display: flex;
    }
    .panel-heading-admin h5{
        font-size: 16px;
    }
}

.form-search{
    padding: 5px;
    width: 60%;
}

.label-search{
    font-size: 14px;
}

.nome{
    width: 48%;
}

.buton-search{
    text-align: right;
    padding-top: 5px;
}
.buton-sch{
    background-color: #0a58f6;
}

.btn-limpar {
    background-color: #0a58f6;
    color: #FFFFFF;
    width: 125px;
    height: 50px;
    margin-right: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}
.btn-limpar:hover{
    background-color: black;
}

.btn-new-reset{
    display: inline-block;
    padding: 25px;
}
.estilo-btn{
    margin-top: 10px;
}

.form-admin{
    margin: 20px;
}

.control-label{
    display: flex !important;
}
.label-class{
    margin-left: 8px;
}
.required{
    font-style: italic !important;
    color: red !important;
}

.texto-show{
    background: #FFFFFF;
    height: 40px;
    border: solid 0.5pt #0b6bd3;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.texto-comment{
    background: #FFFFFF;
    border: solid 0.5pt #0b6bd3;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

#form-register {
    margin-top: 30px;
    margin-bottom: 20px;
    background: #cce5ff;
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#form-register .bloco-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#register-show{
    width: 98%;
    background: #cce5ff;
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#register-show .bloco-div-show {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.label-show{
    margin-bottom: 4px;
}

.media{
    display: flex!important;
}

.media-body{
    margin-left: 5px !important;
}
.media-heading {
    margin-left: 5px !important;
}

.mo-galeria img{
    height: 60px!important;
    width: 60px!important;
}

.my-alert{
    flex: content;
    width: 300px;
    height: 60px;
    margin: 10px!important;
    padding: 5px!important;
    color: #0f5132;
    background-color: #d6eeF0;
}

.my-wrapper{
    display: inline !important;
}

/*-- Animate webkit ----*/

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*----- Foto admin -------*/
.image-show {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.image-show img {
    padding: 0px 8px 8px 8px;
    max-width: 300px;
}
.button-show {
    width: 100%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-show{
    width: 100%;
    font-size: 16px;
    font-family: "Roboto Serif";
    font-weight: bold;
    color: #f0f0f0;
}

.label-form {
    font-weight: 700;
    font-family: "Roboto Serif";
    color: black;
    margin: 8px 8px 0px 8px;
}

.nome-foto{
    margin-bottom: -15px!important;
}

.assin{
    align-items: center;
}

#assin-content {
    margin-top: 8px;
    margin-bottom: 20px;
    max-width: 600px;
    background: #b6effb;
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container-assin {
    background: white;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.cliente{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cliente-textos{
    font-size: 14px;
    text-align: center;
    width: 80%;
}
.cliente-textos-just{
    font-size: 14px;
    width: 90%;
}
.font-bold{
    color: #41a7d7;
    font-weight: 700;
}

.panel-heading-assin {
    padding: 0;
    margin: 0;
    min-height: 60px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 0.5pt darkgrey;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    vertical-align: center;
}

.aviso {
    margin-top: 15px;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}
.aviso a {
    color: #0a53be;
    text-transform: uppercase;
}

/* --------- RATES ---------- */
.estrelas input[type=radio]{
    display: none;
}
.estrelas label i.fa:before{
     content: '\f005';
     color: #FC0;
    font-size: 20px;
}
.estrelas  input[type=radio]:checked  ~ label i.fa:before{
      color: #CCC;
}

/*---------- Admin News ---------- */

.div-news {
    width: 30%;
    height: 45px;
}


/*------- Show news ---------------*/
.panel-body-news {
    font-family: "Roboto Serif";
}
.news {
    display: flex;
    justify-content: space-between;
}
.btn-show-news{
    width: 100%;
}

#news-show{
    padding-left: 75px;
    padding-right: 75px;
}
#news-show .desk h6 {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#news-show .desk .parcei p {
    padding: 20px;
    display: inline-flex;
    align-content: center;
    margin-bottom: 20px;
    font-size: 1em;
}
.desk svg {
    height: 55px;
}
@media screen and (max-width: 992px) {
    #news-show{
        margin: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
    .desk h6{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .desk svg{
        height: 40px;
    }
}
/* ---------  novo grupo -----------*/
.linha-news{
    width: 80%;
    height: 2px!important;
    text-align: center;
    color: #41a7d7;
    margin-top: 30px;
    margin-bottom: 30px;
}
.linha-icon{
    width: 50%;
    height: 3px!important;
    color: #41a7d7;
    margin-top: 20px;
    margin-bottom: 20px;
}
.edit{
    margin-left: 10%;
    margin-right: 10%;
}
.edit h3{
    color: #41a7d7;
    font-style: italic;
    font-weight: lighter;
}
.edit-abert{
    display: flex;
    justify-content: space-between;
    vert-align: top;
}
.edit-abert p{
    font-size: 1.5em;
}
.icon-news{
    width: 180px;
    fill: #41a7d7;
    margin-top: -40px;
}
.aviso-news {
    margin-top: 5px;
    margin-right: 50%;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
}
.aviso-news a {
    color: #41a7d7;
    text-decoration: underline;
}
@media screen and (max-width: 992px) {
    .linha-news{
        width: 90%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .edit{
        margin-left: 8px;
        margin-right: 8px;
    }
    .edit h4{
        font-size: 16px;
    }
    .edit h3 {
        font-size: 18px;
    }
    .edit-abert p{
        font-size: 1.0em;
        line-height: 1.6em;
    }
    .icon-news{
        width: 60px;
        margin-top: -20px;
    }
    .aviso-news {
        margin-top: 5px;
        margin-right: 5px;
    }
    .aviso-news h6{
        font-size: 0.7em;
    }
}
/*-------------- Fim da Abertura -------------------*/
.retranca{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
}
.icon-dia{
    width: 120px;
    fill: #41a7d7;
    margin-top: -10px;
}
.tit-princ{
    width: 60%;
}
.tit-princ h2{
    color: black;
    font-style: normal;
    line-height: 1.5em;
    margin-bottom: 20px;
    font-weight: lighter;
}
.tit-princ h3{
    width: 80%;
    font-style: normal;
    color: black;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-weight: lighter;
}
.texto-news{
    color: black;
    margin-right: 10%;
    padding-top: 25px;
}
.texto-news p{
    margin-top: -15px;
}
.img-news {
    margin: 0;
    padding: 0;
    width: 100%!important;
}
.texto-news a {
    font-weight: bold;
    color: #41a7d7;
    text-decoration: underline;
}
@media screen and (max-width: 992px) {
    .icon-dia{
        width: 60px;
        margin-top: -10px;
    }
    .tit-princ{
        width: 100%;
    }
    .tit-princ h2{
        font-size: 22px;
        line-height: 1.5em;
        margin-bottom: 10px;
    }
    .tit-princ h3{
        width: 100%;
        font-size: 20px;
        line-height: 1.5em;
        margin-bottom: 7px;
    }
    .texto-news{
        margin-right: 0;
        font-size: 16px;
        line-height: 1.7em;
        padding-top: 15px;
    }
    .texto-news p{
        margin-top: -10px;
    }

}

.social-news a {
    display: inline-block;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #41a7d7;
    color: #fff;
    position: relative;
    text-align: center;
    transition: 0.3s background ease;
    line-height: 0;
}
.social-news a span {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.social-news a:hover {
    color: #fff;
    background: #2d71a1;
}
.social-news a i {
    line-height: 0;
}

.nota-news{
    color: black;
}
.nota-news a {
    font-weight: bold;
    color: #41a7d7;
    text-decoration: underline;
}

.disse{
    border-left: #41a7d7 4px solid;
    margin-bottom: 40px;
}

.tit-disse h3{
    width: 95%;
    color: black;
    line-height: 1.3em;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
.disse-news p {
    margin: 0;
    padding: 0;
    color: black;
    width: 80%;
}
.disse-news a {
    font-weight: bold;
    color: #41a7d7;
    text-decoration: underline;
}
.foto-disse {
    margin-top: 110px!important;
    width: 110px;
    height: 110px;
    border-radius: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30);
}

.circle {
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 110px;
    height: 110px;
    overflow: hidden;
    position: relative;
}

.circle img {
    position: absolute;
    left: -10px;
    filter: grayscale(80);
}
@media screen and (max-width: 992px) {
    .nota-news{
        font-size: 14px;
    }
    .disse{
        border-left: #41a7d7 2px solid;
        margin-bottom: 20px;
    }
    .tit-disse h3{
        width: 98%;
        line-height: 1.4em;
        font-size: 16px;
    }
    .disse-news p {
        width: 90%;
        font-size: 13px;
    }
}
.cota-news{
    color: black;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: 20px;
}
.cota hr {
    width: 80%;
    height: 4px!important;
    text-align: center;
    color: #41a7d7;
    margin-top: 30px;
    margin-bottom: 30px;
}

.recuo-news {
    width: 80%;
    color: black;
    margin-left: 10%;
}
.recuo-news h6 {
    color: #41a7d7;
    font-weight: bold;
    margin-top: 20px;
}
.recuo-news p{
    margin-top: -10px;
}

.cult{
    background-color: #d6eef0;
    padding: 20px;
}
@media screen and (max-width: 992px) {
    .cota-news{
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .recuo-news {
        width: 90%;
        margin-left: 5%;
    }
}

/*--------- Rodapé NEWS ----------*/

.rodape-tit{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
}
.rodape-tit2{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
}
.icon-roda{
    width: 180px;
    fill: #FFFFFF;
    margin-top: -10px;
}

.rodape-news{
    margin-top: 0;
    background-color: black;
    padding: 20px;
}
.rodape-tit h3{
    color: #FFFFFF;
    font-weight: bold;
}
.final {
    margin-right: 30px;
    font-size: 12px;
    font-weight: bold;
}
.final a{
    text-decoration: underline;
}
.roda-text p{
    font-size: 20px;
    font-style: italic;
    width: 60%;
    color: #FFFFFF;
    margin-top: -120px;
}
.roda-text a{
    text-decoration: underline;
    color: #41a7d7;
    font-weight: bold;
}
.rodape-news-final{
    margin-top: 0;
    background-color: #cccccc;
    padding: 20px;
}
.icon-final{
    width: 250px;
    margin-top: -10px;
}
.fim{
    font-size: 16px;
    margin-top: 15px;
    color: #FFFFFF;
}
.showPublic{
    margin-top: 40px;
    background: #FFFFFF;
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
@media screen and (max-width: 992px) {
    .rodape-tit{
        padding-top: 10px;
    }
    .rodape-tit2{
        display: block;
        align-content: center;
        padding-top: 10px;
    }
    .icon-roda{
        width: 90px;
    }
    .roda-text p{
        font-size: 16px;
        width: 80%;
        margin-top: -30px;
    }
    .rodape-news-final{
        padding: 8px;
    }
    .icon-final{
        width: 150px;
        margin-top: 10px;
    }
}

/*----------- cokie ---------*/

#my-cookie .cookie-consent{
    width: 80%;
    min-height: 60px;
    max-height: 140px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #41a7d7;
    color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    elevation: higher;
}
.cookie-consent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-consent p{
    margin: 8px;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
}
.texto-consent a{
    text-decoration: underline;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-cookie{
    margin: 10px;
    background: #555555;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
}
.btn-cookie a{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.btn-cookie:hover{
    background-color: black;
}

@media screen and (max-width: 992px) {
    #my-cookie .cookie-consent {
        width: 90%;
        height: 150px!important;
    }
    .texto-consent p{
        margin: 5px;
        font-size: 13px;
        color: #FFFFFF;
    }

    .btn-cookie{
        padding: 8px 18px 8px 18px!important;
        margin: 4px 4px 4px 12px;
        border-radius: 5px;
    }
    .btn-cookie a{
        font-size: 12px;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f9f9fa;
}

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5f687b;
    position: relative;
    z-index: 2;
}

.section-title span {
    position: absolute;
    top: 30px;
    color: #f0f1f3;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .section-title span {
        font-size: 38px;
    }
}

/*--------------------------------------------------------------
# Nosso Time
--------------------------------------------------------------*/
.card-my {
    background-color: #d6eeF0;
    margin: 12px;
    min-height: 450px;
}
.card-header .card-topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-my .title-card{
    text-align: left;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: black;
}
.card-my img {
    width: 80px;
    height: 80px;
}
.circle-card {
    background-color: #FFFFFF;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
    border-radius: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30);
}
.card-my p{
    color: black;
    margin-left: 15px;
    margin-right: 15px;
}
.my-card-footer{
    height: 40px;
    padding: 5px;
    margin-bottom: 12px;
}
.social-card a {
    display: inline-block;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #41a7d7;
    color: #fff;
    position: relative;
    text-align: center;
    transition: 0.3s background ease;
    line-height: 0;;
}
.social-card a span {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.social-card a:hover {
    color: #fff;
    background: #2d71a1;
}
.social-card a i {
    line-height: 0;
}
/* ------------- TABS SITE -----------*/
.minha-tab {
    font-size: 16px;
    font-style: italic;
    color: #6a1a21;
}


/* Contact Section
--------------------------------*/
#contact {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 60px 0;
    overflow: hidden;
}

#contact .section-header {
    padding-bottom: 30px;
}

#contact .contact-about h3 {
    font-size: 36px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #007bff;
}

#contact .contact-about p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
    color: #888;
}

#contact .social-links {
    padding-bottom: 20px;
}

#contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #007bff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #007bff;
}

#contact .social-links a:hover {
    background: #007bff;
    color: #fff;
}

#contact .info {
    color: #283d50;
}

#contact .info i {
    font-size: 32px;
    color: #007bff;
    float: left;
    line-height: 1;
}

#contact .info p {
    padding: 0 0 10px 36px;
    line-height: 28px;
    font-size: 14px;
}

#contact .contact-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

#contact .contact-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

#contact .contact-form .error-message br + br {
    margin-top: 25px;
}

#contact .contact-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

#contact .contact-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

#contact .contact-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

#contact .contact-form input, #contact .contact-form textarea {
    margin: 20px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

#contact .contact-form input:focus, #contact .contact-form textarea:focus {
    background-color: #41a7d7;
}

#contact .contact-form input {
    padding: 20px 15px;
}

#contact .contact-form textarea {
    padding: 12px 15px;
}

#contact .form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
}

#contact .contact-form button[type="submit"] {
    background: #007bff;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
}

#contact .contact-form button[type="submit"]:hover {
    background: #0067d5;
    cursor: pointer;
}
